.tree {
    width: 120px;
}

.tree-layer,
.tree-log {
    margin: 0 auto;
}

.tree-layer {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid green;
}
.tree-layer:nth-child(2) {
    margin-top: -30px;
    border-left-width: 50px;
    border-right-width: 50px;
    border-bottom-width: 80px;
}

.tree-layer:nth-child(3) {
    margin-top: -50px;
    border-left-width: 60px;
    border-right-width: 60px;
    border-bottom-width: 100px;
}
.tree-log {
    width: 20px;
    height: 30px;
    background-color: saddlebrown;
}

.ball{
    height: 0;
    width: 0;
    border-radius: 50%;
    border: #d01212 solid 10px;
    position: absolute;
}


.ball1{
    top: 50px;
    left: 40px;
}

.ball2{
    top: 80px;
    left: 60px;
}
.ball3{
    top: 120px;
    left: 90px;
}

.ball4{
    top: 150px;
    left: 10px;
}
.ball5{
    top: 30px;
    left: 80px;
}
.ball6{
    top: 110px;
    left: 40px;
}
